<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
   <h1> {{ message }}</h1>
   <form action="/create-todo" method="POST">
    <input type="text" width="2000" name="item"/>
    <button type="submit">create</button>
   </form>
   <hr/>

   
  </body>
</html>